html {
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  font-size: 16px;
  margin: 0;
}

body {
  display: flex;
  margin: 0;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

.palette-color-block {
  padding: 9px 26px;
  font-size: 12px;
  color: #2d2d2d;
  width: 100px;
  text-align: center;
  font-weight: bold;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.palette-title {
  padding-left: 4px;
  font-size: 18px;
  margin-top: 12px;
}

.palettes-container > div {
  padding: 12px;
}

.article-title {
  font-size: 60px;
  font-weight: 400;
  line-height: 1.2;
  margin: 0 0 16px;
}

.article-subtitle {
  font-size: 20px;
  line-height: 1.6;
  font-weight: 400;
  margin: 0 0 8px;
}

section h2 {
  font-size: 20px;
  line-height: 1.2;
  font-weight: 400;
  margin: 0 0 8px;
}

section h2:not(:first-child) {
  margin-top: 24px;
}

section p {
  margin: 0 0 16px;
}

.row {
  display: flex;
  flex-direction: row;
}

.column {
  display: flex;
  flex-direction: column;
}

.eyebrow {
  /* color: #5f6368; */
  color: var(--mdw-theme-text--on-background);
  display: block;
  line-height: 20px;
  margin: 24px 0 4px;
}

article > section {
  padding-top: 56px;
}

mdw-top-app-bar {
  background-color: #332f36;
  color: #8d7bc7;
  border-left: 1px solid rgba(255,255,255,0.12);
}

.navigation {
  width: 220px;
  background-color: #332f36;
}

.navigation .main-title {
  color: #8d7bc7;
  display: block;
  font-size: 24px;
  /* padding-left: 24px; */
  line-height: 25px;
  font-weight: 500;
}
.navigation .main-title:first-child {
  margin-top: 16px;
}

nav {
  padding-top: 24px;
}

nav .title {
  color: #76a5aa;
  display: block;
  font-size: 18px;
  padding-bottom: 12px;
  padding-top: 24px;
  margin-left: 16px;
}

nav mdw-divider {
  margin-top: 24px;
}

nav a {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  position: relative;
  cursor: pointer;
  vertical-align: middle;
  align-items: center;
  user-select: none;
  outline: none;
  border: 0;
  background: transparent;
  font-size: 1rem;
  overflow: hidden;
  transition: box-shadow .4s cubic-bezier(.25,.8,.25,1),background-color .4s cubic-bezier(.25,.8,.25,1);
  border-radius: 0;
  color: #b3b3b3;
  font-weight: 400;
  text-align: left;
  text-decoration: none;
  text-transform: none;
  white-space: nowrap;

  width: 100%;
  line-height: 18px;
  padding: 12px 8px;
  margin-left: 8px;
  /* margin: 8px; */
}

.links {
  display: inline-grid;
}

anchor-link {
  display: block;
  font-family: Roboto,Arial,Helvetica,sans-serif;
  font-size: 1rem;
  line-height: 1.6rem;
  letter-spacing: .2px;
  font-weight: 500;
  text-decoration: none;
  font-weight: 500;
  color: var(--mdw-theme-primary);
  cursor: pointer;
}

li a {
  display: inline-block;
  font-size: 1.1rem;
  font-weight: lighter;
  color: #7499cb;
  cursor: pointer;
  text-decoration: none;
}

.page-article {
  width: 100%;
  max-width: 100vw;
  margin: 0 auto;
  padding-top: 30px;
  padding-bottom: 56px;
}

.into-article {
  padding: 24px;
}

.sub-article {
  padding: 24px;
}

.column-article {
  padding: 12px;
}

.row {
  display: flex;
  flex-direction: row;
}

.column {
  display: flex;
  flex-direction: column;
}

.spacer {
  padding-top: 36px;
}

flex {
  display: flex;
  flex: 1;
}

.disclaimer-container {
  margin: 1.5em 0;
  padding: 8px 16px;
  overflow: hidden;
  border-left: 4px solid #ffab40;
  background-color: #ffcdd2;
  border-left-color: #ff5252;
}

.direction {
  font-size: 0.875rem;
  margin: 1.5em 0;
  padding: 8px 16px;
  overflow: hidden;
  background-color: #EEE;
}

.CodeMirror {
  border: 1px solid #eee;
  height: auto !important;
}

.showcase {
  min-height: 200px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 24px;
  margin: 24px 0;
}

.showcase label {
  /* color: var(--mdw-theme-text--on-primary); */
}

/* links */
article a {
  font-family: Roboto,Arial,Helvetica,sans-serif;
  font-size: 1rem;
  line-height: 1.6rem;
  letter-spacing: .2px;
  font-weight: 500;
  text-transform: true;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 500;
  color: #6200ee;
  cursor: pointer;
}


/* --- codecase: for displaying demoo next too code --- */

.codecase {
  width: 100%;
  padding: 12px 0;
  margin: 36px 0;
  box-shadow: 0 3px 1px -2px rgba(0,0,0,.2),
              0 2px 2px 0 rgba(0,0,0,.14),
              0 1px 5px 0 rgba(0,0,0,.12);
}

.codecase .title {
  /* color: #202124; */
  font-weight: 400;
  font-size: 1.25rem;
  letter-spacing: normal;
  padding-left: 20px;
  line-height: 46px;
}

.codecase .description {
  /* color: #202124; */
  font-weight: 400;
  margin: 0 0 8px;
  font-size: 1rem;
  letter-spacing: normal;
  padding-left: 20px;
}

.codecase a {
  padding-left: 20px;
  margin: 0;
}

.codecase pre {
  border-top: 1px solid #eaeaea;
  border-bottom: 1px solid #eaeaea;
}

.codecase .demo {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  padding: 8px;
}

.mdw-is-mobile code-mirror {
  display: inline;
}

code-mirror code {
  left: -80px;
  position: relative;
}

section mdw-card code-mirror code {
  left: -160px;
  position: relative;
}

mdw-card code-mirror code {
  left: -120px;
  position: relative;
}


.CodeMirror {
  border: 1px solid #eee;
  height: auto !important;
}

/* --- Side navigation --- */

.navigation {
  width: 220px;
  background-color: #364051;
}

.navigation .main-title {
  color: #7b99c7;
  display: block;
  font-size: 24px;
  /* padding-left: 24px; */
  line-height: 25px;
}
.navigation .main-title:first-child {
  margin-top: 16px;
}

nav {
  padding-top: 24px;
}

nav .title {
  color: #5a6b86;
  display: block;
  font-size: 18px;
  padding-bottom: 12px;
  padding-top: 24px;
  margin-left: 16px;
}

nav mdw-divider {
  margin-top: 24px;
}

nav a {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  position: relative;
  cursor: pointer;
  vertical-align: middle;
  align-items: center;
  user-select: none;
  outline: none;
  border: 0;
  background: transparent;
  font-size: 1rem;
  overflow: hidden;
  transition: box-shadow .4s cubic-bezier(.25,.8,.25,1),background-color .4s cubic-bezier(.25,.8,.25,1);
  border-radius: 0;
  color: #b3b3b3;
  font-weight: 400;
  text-align: left;
  text-decoration: none;
  text-transform: none;
  white-space: nowrap;

  width: 100%;
  line-height: 18px;
  padding: 12px 8px;
  margin-left: 8px;
  /* margin: 8px; */
}

.links {
  display: inline-block;
}

nav expander-content a {
  padding-left: 36px;
}

nav a.active {
  color: #69ce7d;
  font-weight: 500;
}

nav a:hover {
  background-color: rgba(158,158,158,0.2);
}

section.page-container {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 220px;
  right: 0;
  overflow-y: scroll;
}

header {
  position: fixed;
  box-sizing: border-box;
  top: 0;
  left: 220px;
  right: 0;
  padding-left: 12px;
  padding-right: 12px;
  height: 54px;
  background: #fff;
  color: #202020;
  min-height: 56px;
  z-index: 61;
  overflow: hidden;
  box-shadow: 0 0 1px 1px rgba(0,0,0,.09), 0 0 2px 2px rgba(0,0,0,.098), 0 0 5px 1px rgba(0,0,0,.084);
}


header h2 {
  display: inline-block;
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 52px;
}

header .subtext {
  font-size: 0.875rem;
  float: right;
  line-height: 55px;
}

header .version {
  line-height: 55px;
  vertical-align: top;
  padding-left: 4px;
  color: #5e8dff;
  font-weight: bold;
}

header .version a {
  line-height: 55px;
  vertical-align: top;
  padding-left: 4px;
  color: #5e8dff;
  font-weight: bold;
  text-decoration: none;
}

section.body-container {
  /* margin-top: 54px; */
}

anchor-link {
  display: block;
  font-family: Roboto,Arial,Helvetica,sans-serif;
  font-size: 1rem;
  line-height: 1.6rem;
  letter-spacing: .2px;
  font-weight: 500;
  text-decoration: none;
  font-weight: 500;
  color: #6200ee;
  cursor: pointer;
}

expander-header {
  display: block;
  position: relative;
  cursor: pointer;
  vertical-align: middle;
  align-items: center;
  user-select: none;
  outline: none;
  border: 0;
  background: transparent;
  font-size: 0.9375rem;
  overflow: hidden;
  transition: box-shadow .4s cubic-bezier(.25,.8,.25,1),background-color .4s cubic-bezier(.25,.8,.25,1);
  border-radius: 0;
  white-space: nowrap;
  color: #b3b3b3;

  margin: 0;
  line-height: 18px;
  padding: 12px 24px;
}

expander-header .expander-label {
  color: #b3b3b3;
  font-weight: 400;
}

expander-header .expander-label.active {
  color: #b3b3b3;
  font-weight: 400;
}
