html {
  font-family: sans-serif;
  font-size: 16px;
}

body {
  font-size: 0.875rem;
  margin: 0;
  line-height: 1.5;
  font-weight: 400;
  letter-spacing: 0.03125em;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

.CodeMirror {
  border: 1px solid #eee;
  height: auto !important;
}

/* --- Side navigation --- */

.navigation {
  width: 220px;
  background-color: #364051;
}

.navigation .main-title {
  color: #7b99c7;
  display: block;
  font-size: 24px;
  /* padding-left: 24px; */
  line-height: 25px;
}
.navigation .main-title:first-child {
  margin-top: 16px;
}

nav {
  padding-top: 24px;
}

nav .title {
  color: #5a6b86;
  display: block;
  font-size: 18px;
  padding-bottom: 12px;
  padding-top: 24px;
  margin-left: 16px;
}

nav mdw-divider {
  margin-top: 24px;
}

nav a {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  position: relative;
  cursor: pointer;
  vertical-align: middle;
  align-items: center;
  user-select: none;
  outline: none;
  border: 0;
  background: transparent;
  font-size: 1rem;
  overflow: hidden;
  transition: box-shadow .4s cubic-bezier(.25,.8,.25,1),background-color .4s cubic-bezier(.25,.8,.25,1);
  border-radius: 0;
  color: #b3b3b3;
  font-weight: 400;
  text-align: left;
  text-decoration: none;
  text-transform: none;
  white-space: nowrap;

  width: 100%;
  line-height: 18px;
  padding: 12px 8px;
  margin-left: 8px;
  /* margin: 8px; */
}

.links {
  display: inline-block;
}

nav expander-content a {
  padding-left: 36px;
}

nav a.active {
  color: #69ce7d;
  font-weight: 500;
}

nav a:hover {
  background-color: rgba(158,158,158,0.2);
}

section.page-container {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 220px;
  right: 0;
  overflow-y: scroll;
}

header {
  position: fixed;
  box-sizing: border-box;
  top: 0;
  left: 220px;
  right: 0;
  padding-left: 12px;
  padding-right: 12px;
  height: 54px;
  background: #fff;
  color: #202020;
  min-height: 56px;
  z-index: 61;
  overflow: hidden;
  box-shadow: 0 0 1px 1px rgba(0,0,0,.09), 0 0 2px 2px rgba(0,0,0,.098), 0 0 5px 1px rgba(0,0,0,.084);
}


header h2 {
  display: inline-block;
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 52px;
}

header .subtext {
  font-size: 0.875rem;
  float: right;
  line-height: 55px;
}

header .version {
  line-height: 55px;
  vertical-align: top;
  padding-left: 4px;
  color: #5e8dff;
  font-weight: bold;
}

header .version a {
  line-height: 55px;
  vertical-align: top;
  padding-left: 4px;
  color: #5e8dff;
  font-weight: bold;
  text-decoration: none;
}

section.body-container {
  /* margin-top: 54px; */
}

anchor-link {
  display: block;
  font-family: Roboto,Arial,Helvetica,sans-serif;
  font-size: 1rem;
  line-height: 1.6rem;
  letter-spacing: .2px;
  font-weight: 500;
  text-decoration: none;
  font-weight: 500;
  color: #6200ee;
  cursor: pointer;
}

expander-header {
  display: block;
  position: relative;
  cursor: pointer;
  vertical-align: middle;
  align-items: center;
  user-select: none;
  outline: none;
  border: 0;
  background: transparent;
  font-size: 0.9375rem;
  overflow: hidden;
  transition: box-shadow .4s cubic-bezier(.25,.8,.25,1),background-color .4s cubic-bezier(.25,.8,.25,1);
  border-radius: 0;
  white-space: nowrap;
  color: #b3b3b3;

  margin: 0;
  line-height: 18px;
  padding: 12px 24px;
}

expander-header .expander-label {
  color: #b3b3b3;
  font-weight: 400;
}

expander-header .expander-label.active {
  color: #b3b3b3;
  font-weight: 400;
}
